<html>
    <head>
        <link  href ="mystyle.css" type ="text/css"  rel ="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>
    <body>
        <div class="fixedBar">
          <a href="home.html">Home</a>
          <a href="progress.html">Progress</a>
          <a href="login.html">Login</a>
          <a href="register.html">Register</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>

</html>